# Directories #
/backend/node_modules/
/backend/uploads/
/frontend/node_modules/
/frontend/.next/
/frontend/bundles/


// .gitnignore
# next.js build output
.next
# dotenv environment variables file (build for Zeit Now)
.env
.env.build
